{% extends "base.html" %}

{% block title %}
{{ novel.title }} - Bölüm {{ chapter.number }}
{% endblock %}

{% block content %}
    <h2>{{ novel.title }} - Bölüm {{ chapter.number }}: {{ chapter.title }}</h2>
    <hr>
    <p>{{ chapter.content|linebreaks }}</p>
    <hr>

    <div class="d-flex justify-content-between">
        {% if prev_chapter %}
            <a href="{% url 'chapter_detail' novel.id prev_chapter.number %}" class="btn btn-primary">⬅ Önceki Bölüm</a>
        {% else %}
            <span></span>
        {% endif %}

        <a href="{% url 'novel_detail' novel.id %}" class="btn btn-secondary">🏠 Romana Geri Dön</a>

        {% if next_chapter %}
            <a href="{% url 'chapter_detail' novel.id next_chapter.number %}" class="btn btn-primary">Sonraki Bölüm ➡</a>
        {% else %}
            <span></span>
        {% endif %}
    </div>
{% endblock %}
